body{
    padding:0px;
    margin:0px;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
nav{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background:#03477d;
    box-shadow: 0 3px 6px #004e92;
}
ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    font-family: 'Righteous', cursive;
    padding: 0px;
}
li{
    list-style-type: none;
}

h1{
    font-family: 'Righteous', cursive;
    padding-left:20%;
    text-transform: uppercase;
}
.content {
    width: 100%;
    margin: 152px auto;
    text-align: center;
}

input.domain {
    background-color: rgba;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 3px solid white;
    width: 80%;
    outline: none;
    color: white;
    font-size:20px;
}

.button{
    display: block;
    margin: 50px;
    text-align: center;
}
.button input {
    width: 150px;
    padding: 12px;
    border-radius: 4px;
    color: rgb(3, 71, 125);
    font-size: 23px;
    background: white;
    box-shadow: 0px 3px 6px rgb(3, 71, 125);
    cursor: pointer;
}

.word{
    padding-bottom:20px;
}

.word h1{
    font-family: 'Exo', sans-serif;
    color: white;
    padding:0px;
}
.word h1 span {
    font-size: 40px;
}
p{
    color: white;
    font-size: 15px;
    font-family: 'Exo', sans-serif;
}

.short{
    color:white;
    font-size: 25px;
    font-family: 'Exo', sans-serif;
    cursor: pointer;
}

@media (min-width:1024px){
    input.domain {
        width: 50%;
    }
}